<div [class]="classes.container">
  <!-- Avatar Button -->
  <button
    type="button"
    [class]="classes.trigger.button"
    [attr.aria-expanded]="isOpen()"
    aria-haspopup="true"
    (click)="toggleMenu()"
  >
    <pst-avatar
      [name]="user.name"
      [src]="user.avatar"
      size="sm"
      bgColor="bg-primary"
      textColor="text-white"
    ></pst-avatar>
  </button>

  <!-- Dropdown Menu -->
  <div
    #dropdown
    *ngIf="isOpen()"
    [class]="classes.dropdown.base"
    role="menu"
    aria-orientation="vertical"
    tabindex="-1"
  >
    <!-- User Info Section -->
    <div [class]="classes.sections.userInfo.wrapper">
      <div [class]="classes.sections.userInfo.container">
        <pst-avatar
          [name]="user.name"
          [src]="user.avatar"
          size="md"
          bgColor="bg-primary"
          textColor="text-white"
        ></pst-avatar>
        <div [class]="classes.sections.userInfo.details">
          <p [class]="classes.sections.userInfo.name">
            {{ user.name }}
          </p>
          <p [class]="classes.sections.userInfo.email">
            {{ user.email }}
          </p>
          <p *ngIf="user.role" [class]="classes.sections.userInfo.role">
            {{ user.role }}
          </p>
        </div>
      </div>
    </div>

    <!-- Dark Mode Toggle -->
    <div [class]="classes.sections.darkMode.wrapper">
      <div [class]="classes.sections.darkMode.container">
        <div [class]="classes.sections.darkMode.label.wrapper">
          <pst-icon
            [name]="isDarkMode() ? 'moon' : 'sun'"
            [size]="16"
            cssClasses="text-gray-500 dark:text-gray-400"
          ></pst-icon>
          <span [class]="classes.sections.darkMode.label.text">
            Dark Mode
          </span>
        </div>
        <button
          type="button"
          role="switch"
          [attr.aria-checked]="isDarkMode()"
          (click)="toggleTheme()"
          [class]="getDarkModeToggleClasses()"
        >
          <span
            aria-hidden="true"
            [class]="getDarkModeKnobClasses()"
          ></span>
        </button>
      </div>
    </div>

    <!-- Menu Items -->
    <div [class]="classes.sections.menu.wrapper" role="none">
      <button
        *ngFor="let item of menuItems; let i = index"
        type="button"
        [class]="getMenuItemClasses(item, i)"
        role="menuitem"
        tabindex="-1"
        (click)="handleMenuItemClick(item)"
        (mouseenter)="focusedIndex.set(i)"
      >
        <pst-icon
          *ngIf="item.icon"
          [name]="item.icon"
          [size]="iconSizes.small"
          [class]="classes.menuItem.icon"
        ></pst-icon>
        <span>{{ item.label }}</span>
      </button>
    </div>

    <!-- Divider -->
    <div [class]="classes.sections.menu.divider"></div>

    <!-- Bottom Menu Items -->
    <div [class]="classes.sections.menu.wrapper" role="none">
      <button
        *ngFor="let item of bottomMenuItems; let i = index"
        type="button"
        [class]="getMenuItemClasses(item, menuItems.length + i)"
        role="menuitem"
        tabindex="-1"
        (click)="handleMenuItemClick(item)"
        (mouseenter)="focusedIndex.set(menuItems.length + i)"
      >
        <pst-icon
          *ngIf="item.icon"
          [name]="item.icon"
          [size]="iconSizes.small"
          [class]="classes.menuItem.icon"
        ></pst-icon>
        <span>{{ item.label }}</span>
      </button>
    </div>
  </div>
</div>