<!-- Backdrop -->
<div 
  [class]="backdropClasses"
  [@fadeIn]="isOpen ? 'open' : 'closed'"
  (click)="closeMenu()">
</div>

<!-- Menu Container -->
<div 
  [class]="classes.container"
  [@slideIn]="isOpen ? 'open' : 'closed'"
  [attr.aria-hidden]="!isOpen">
  
  <!-- Header -->
  <div [class]="classes.header.base">
    <div class="flex-1">
      <img src="/logos/pst_weiss.svg" alt="ProSolarTec" [class]="classes.header.logo">
    </div>
    <button 
      type="button"
      [class]="classes.header.closeButton"
      (click)="closeMenu()"
      [attr.aria-label]="'Menü schließen'">
      <pst-icon name="x" [size]="iconSizes.large"></pst-icon>
    </button>
  </div>

  <!-- Search -->
  <div [class]="classes.search.section">
    <button 
      type="button"
      [class]="classes.search.button"
      (click)="onMobileSearch()">
      <pst-icon name="search" [size]="iconSizes.medium"></pst-icon>
      <span>Suchen...</span>
    </button>
  </div>

  <!-- Navigation -->
  <nav [class]="classes.nav.wrapper">
    <ul [class]="classes.nav.list">
      <li *ngFor="let item of menuItems; let i = index" [class]="classes.nav.listItem">
        <button
          type="button"
          [class]="classes.nav.menuItem.base"
          [class.font-semibold]="!!item.children"
          (click)="navigate(item)">
          
          <span [class]="classes.nav.menuItem.iconWrapper">
            <pst-icon 
              *ngIf="item.icon" 
              [name]="item.icon" 
              [size]="iconSizes.medium"
              [class]="classes.nav.menuItem.icon">
            </pst-icon>
            <span class="flex-1">{{ item.label }}</span>
            <pst-badge 
              *ngIf="item.badge"
              color="primary"
              variant="filled"
              size="sm"
              class="ml-auto">
              {{ item.badge }}
            </pst-badge>
          </span>
          
          <pst-icon 
            *ngIf="item.children"
            name="chevron-down"
            [size]="iconSizes.small"
            [class]="classes.nav.menuItem.chevron"
            [class.rotate-180]="isExpanded(i)">
          </pst-icon>
        </button>

        <!-- Submenu -->
        <ul 
          *ngIf="item.children"
          [class]="classes.nav.submenu.wrapper"
          [@expandCollapse]="isExpanded(i) ? 'expanded' : 'collapsed'">
          <li *ngFor="let child of item.children" [class]="classes.nav.submenu.borderLeft">
            <a
              [routerLink]="child.route"
              [class]="classes.nav.submenu.item"
              (click)="closeMenu()">
              {{ child.label }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>

  <!-- Footer -->
  <div [class]="classes.footer.base" *ngIf="user">
    <div [class]="classes.footer.userInfo.wrapper">
      <pst-avatar 
        [name]="user.name"
        [src]="user.avatar"
        size="sm">
      </pst-avatar>
      <div class="flex-1">
        <div [class]="classes.footer.userInfo.name">{{ user.name }}</div>
        <div [class]="classes.footer.userInfo.email">{{ user.email }}</div>
      </div>
    </div>
    
    <div [class]="classes.footer.actions.wrapper">
      <button 
        type="button"
        [class]="classes.footer.actions.themeToggle"
        (click)="themeService.toggleTheme()"
        [attr.aria-label]="'Theme wechseln'">
        <pst-icon 
          [name]="themeService.isDarkMode() ? 'sun' : 'moon'" 
          [size]="iconSizes.medium">
        </pst-icon>
      </button>
      
      <button 
        type="button"
        [class]="classes.footer.actions.logout"
        (click)="logout()">
        <pst-icon name="logout" [size]="iconSizes.medium"></pst-icon>
        <span>Abmelden</span>
      </button>
    </div>
  </div>
</div>